body {
    margin: 0;
    padding: 0;
    display: flex;
    align-self:center;
    justify-self: center;
}
.logo img {
    width: 100px;
    margin-bottom: 20px;
}
h2 {
    margin-bottom: 20px;
    font-size: 20px;
    color: #333;
}